{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

{% block body %}
    <header>
        <nav>
            <div class="wrapper">
                <ul>
                    <li><a href="{{ path('homepage') }}">Strona Główna</a></li>
                    <li class="active"><a href="{{ path('status') }}">Status</a></li>
                    <li><a href="{{ path('addDog') }}">Dodaj psa</a></li>
                    <li><a href="{{ path('addNote') }}">Dodaj notkę</a></li>
                    <li class="logout"><a href="logout">Wyloguj</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="wrapper">
        {% if rooms.0.occupiedRooms >= rooms.0.Rooms %}
            <h1 class="warning">UWAGA! SCHRONISKO JEST PEŁNE</h1>
        {% endif %}

        {% if rooms.0.Rooms - rooms.0.occupiedRooms <= 5 %}
            <h1 class="info">UWAGA! POZOSTAŁO {{ rooms.0.Rooms - rooms.0.occupiedRooms }} MIEJSCE/A W SCHRONISKU</h1>
        {% endif %}

        <p class="status">Zapełnienie schroniska: {{ rooms.0.occupiedRooms }}/{{ rooms.0.Rooms }}</p>
        {#<table>#}
            {#<caption><h1>Lista psów w shronisku</h1></caption>#}
            {#<tr>#}
                {#<th>Imię</th>#}
                {#<th>Rasa</th>#}
                {#<th>Płeć</th>#}
                {#<th>Wiek</th>#}
                {#<th>Usuń</th>#}
                {#<th>Edytuj</th>#}
            {#</tr>#}

        <article class="flex-container table-header">
            <div class="item"><h2>Imię</h2></div>
            <div class="item"><h2>Rasa</h2></div>
            <div class="item"><h2>Płeć</h2></div>
            <div class="item"><h2>Wiek</h2></div>
            <div class="item"><h2>Edytuj</h2></div>
            <div class="item"><h2>Usuń</h2></div>
        </article>

        {% for type, items in dogs %}
            <article class="flex-container">
                <div class="item"><p>{{ items.name }}</p></div>
                <div class="item"><p>{{ items.race }}</p></div>
                <div class="item"><p>{{ items.gender }}</p></div>
                <div class="item"><p>{{ items.age }}</p></div>
                <div class="item"><a href="{{ path('edit', {'id': items.id}) }}"><button class="edit">Edytuj</button></a></div>
                <div class="item"><a href="{{ path('delete', {'id': items.id}) }}"><button class="delete">Usuń</button></a></div>
            </article>
        {% endfor %}
    </div>
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert" data-warning="{{ flashMessage }}"></div>
    {% endfor %}
{% endblock %}